h1 { font-family:Verdana,Helvetica,Sans Serif; word-spacing:0.0em; letter-spacing:0.0em; line-height:1.0em; font-size:17px; font-weight:800; background-color:white; color:#5AA0FC; }

h2 { font-family:Verdana,Helvetica,Sans Serif; font-size:15px; font-weight:400; background-color:white; color:#5AA0FC; }

h3 { font-family:Verdana,Helvetica,Sans Serif; font-size:13px; font-weight:400; color:#5AA0FC; }

h4 { font-family:Verdana,Helvetica,Sans Serif; font-size:12px; font-weight:400; color:#5AA0FC; }

td { font-family:Verdana,Helvetica,Sans Serif; font-size:13px; font-weight:400; word-spacing:0.0em; letter-spacing:0.0em; color:#000000; }

body { font-family:Verdana,Helvetica,Sans Serif; font-size:13px; font-weight:400; word-spacing:0.0em; letter-spacing:0.0em; color:#000000;}

.normalb { font-family:Verdana,Helvetica,Sans Serif; font-size:13px; font-weight:400; word-spacing:0.0em; letter-spacing:0.0em; color:#000000;}

td.notile { background-repeat: no-repeat; background-position: top left; }

A:link {text-decoration:none; font-family:Verdana,Helvetica,Sans Serif; font-size:11px; word-spacing:0.0em; letter-spacing:0.0em; color:#000080; font-weight:800;}

A:visited {text-decoration:none; font-family:Verdana,Helvetica,Sans Serif; font-size:11px; word-spacing:0.0em; letter-spacing:0.0em; color:#000080; font-weight:800;}

a:hover {text-decoration:none; font-family:Verdana,Helvetica,Sans Serif; font-size:11px; word-spacing:0.0em; letter-spacing:0.0em; color:#FF0000; font-weight:800;}

A.bigger:link {text-decoration:none; font-family:Verdana,Helvetica,Sans Serif; font-size:13px; word-spacing:0.0em; letter-spacing:0.0em; color:#000080; font-weight:800;}

A.bigger:visited {text-decoration:none; font-family:Verdana,Helvetica,Sans Serif; font-size:13px; word-spacing:0.0em; letter-spacing:0.0em; color:#000080; font-weight:800;}

a.bigger:hover {text-decoration:none; font-family:Verdana,Helvetica,Sans Serif; font-size:13px; word-spacing:0.0em; letter-spacing:0.0em; color:#FF0000; font-weight:800;}

.error { font-family:Verdana,Helvetica,Sans Serif; font-size:11px; font-weight:400; word-spacing:0.0em; letter-spacing:0.0em; color:#FF0000;}

.blue { font-family:Verdana,Helvetica,Sans Serif; font-size:13px; font-weight:400; background-color:white; color:#5AA0FC; }

.white {text-decoration:none; font-family:Verdana,Helvetica,Sans Serif; font-size:11px; word-spacing:0.0em; letter-spacing:0.0em; color:#FFFFFF; font-weight:800;}

.confirm { font-family:Verdana,Helvetica,Sans Serif; font-size:13px; font-weight:400; word-spacing:0.0em; letter-spacing:0.0em; color:#000000; }

.confirm-error { font-family:Verdana,Helvetica,Sans Serif; font-size:13px; font-weight:400; word-spacing:0.0em; letter-spacing:0.0em; color:#FF0000;; }

.html { font-family: Courier, "Courier New", monospace; font-size:13px; }

A.tablink:link {text-decoration:none; font-family:Verdana,Helvetica,Sans Serif; font-size:11px; word-spacing:0.0em; letter-spacing:0.0em; color:#5AA0FC; font-weight:800;}

A.tablink:visited {text-decoration:none; font-family:Verdana,Helvetica,Sans Serif; font-size:11px; word-spacing:0.0em; letter-spacing:0.0em; color:#5AA0FC; font-weight:800;}

A.tablink:hover {text-decoration:none; font-family:Verdana,Helvetica,Sans Serif; font-size:11px; word-spacing:0.0em; letter-spacing:0.0em; color:#FFFFFF; font-weight:800;}

A.mainlink:link {text-decoration:underline; font-family:Verdana,Helvetica,Sans Serif; font-size:11px; word-spacing:0.0em; letter-spacing:0.0em; color:#000080; font-weight:800;}

A.mainlink:visited {text-decoration:underline; font-family:Verdana,Helvetica,Sans Serif; font-size:11px; word-spacing:0.0em; letter-spacing:0.0em; color:#000080; font-weight:800;}

A.mainlink:hover {text-decoration:underline; font-family:Verdana,Helvetica,Sans Serif; font-size:11px; word-spacing:0.0em; letter-spacing:0.0em; color:#FF0000; font-weight:800;}

A.memberslink:link {text-decoration:none; font-family:Verdana,Helvetica,Sans Serif; font-size:11px; word-spacing:0.0em; letter-spacing:0.0em; color:#234A71; font-weight:800;}

A.memberslink:visited {text-decoration:none; font-family:Verdana,Helvetica,Sans Serif; font-size:11px; word-spacing:0.0em; letter-spacing:0.0em; color:#234A71; font-weight:800;}

A.memberslink:hover {text-decoration:none; font-family:Verdana,Helvetica,Sans Serif; font-size:11px; word-spacing:0.0em; letter-spacing:0.0em; color:#FFFFFF; font-weight:800;}

.DefaultRow { color: #D5D9DC; background-color: #D6DfE6; }

.visible { position: absolute; z-index=2; visibility:visible; background:transparent; }

.hidden { position: absolute; z-index=2; visibility:hidden; background:transparent; }

td.topleft {border: solid black; border-width: 1px 0px 0px 1px;}
td.topright {border: solid black; border-width: 1px 1px 0px 1px;}
td.bottomleft {border: solid black; border-width: 1px 0px 1px 1px;}
td.bottomright {border: solid black; border-width: 1px 1px 1px 1px;}
td.middle {border: solid black; border-width: 1px 1px 0px 1px;}
td.all {border: solid black; border-width: 1px 1px 1px 1px;}
td.right {border: solid black; border-width: 0px 1px 0px 0px;}
td.bottom {border: solid black; border-width: 0px 0px 1px 0px;}
td.left {border: solid black; border-width: 0px 0px 0px 1px;}

.onepixborder {
	border: 1px solid black;

}
.onepixborder td, .onepixborder th {
	border: 1px solid black;
	padding: 0;
}
